// styles.scss # Manifest File
@import 'vendors/bootstrap_v.4.4/bootstrap.scss';
// Abstracts
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/helpers';
// Vendors
@import 'vendors/jquery-ui';
// Base
@import 'base/reset';
@import 'base/typography';
// Layout
@import 'layout/navigation';
@import 'layout/header';
@import 'layout/post';
@import 'layout/blogger';
@import 'layout/pages';
@import 'layout/footer';
// Components
@import 'components/buttons';
@import 'components/links';
@import 'components/pagination';
// Page

// Themes


.header--button--medium {
    @include button--medium($color-white, $color-nickel, $medium, $regular, $roboto);
}

.header--button--small {
    @include button--small($color-white, $color-nickel, $small, $regular, $roboto);
}