.navigation__image {
    width: 81px;
    height: 34px;
}

.navigation {
    background: $color-eerie-black;
    padding: 20px;
}

.navigation__link-ruddypink {
    color: $color-ruddy-pink !important;
}